
<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <h1 class="text-center mb-5" > Personas </h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Sex</th>
            <th scope="col">Doc</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of results; let i = index" >
            <th scope="row"> {{ i +1 }} </th>
            <td>  {{ person.name }} </td>
            <td> {{ person.age }} </td>
            <td> {{ person.genere }} </td>
            <td> {{ person.doc }} </td>
          </tr>
        
        </tbody>
      </table>
    </div>

      <div class="col-md-5">
        <form  #form='ngForm' method='post' action=''>  

          <input type="text" class="form-control mt-2"  name="name" ngModel  placeholder="name"/>
          <input type="text" class="form-control mt-2"  name="age" ngModel placeholder="age" />
          <input type="text" class="form-control mt-2"  name="genere" ngModel placeholder="genere"/>
            <button type="submit" class="btn btn-primary  mt-3"  (click)="addPerson(form)" > 
              Agregar
            </button>
        </form>
      </div>
    </div>
  </div>
